img[src="/images/icons/video.svg"]:nth-child(even) {
    display: none;
}

.text_items {
    inline-size: 100%;
    padding: 7px 0 0 10px;
}

.iconsTitle {
    margin-block-end: 32px;
    margin-top: 0;
}

.iconsTitle_big {
    margin-block-end: 40px;
    margin-top: 0;
}

.tabIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    inline-size: 103%;
    margin: 0 -1.5%;
}

.tabIcon {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 32px;
    inline-size: 300px;
    position: relative;
    flex: 0 1 30%;
    margin: 0 1.5%;
    padding: 0 0 50px;
}

.tabIcon_upravlenie {
    inline-size: 216px;
    flex: 0 1 22%;
}

.tabIcon_complect {
    inline-size: 252px;
}

[for="Дopolnitelnoe-oborudovanie"]+div>.text_items,
[for="Кomplekt"]+div>.text_items {
    margin-top: 7px;
}

[for="Оsobennosti"]+div,
[for="Уpravlenie"]+div,
[for="Кomplekt"]+div,
[for="Дopolnitelnoe-oborudovanie"]+div {
    margin-bottom: -30px;
}

.tabIcon_complect .tabIcon__img {
    border: 1px solid #9da1a364;
}

.tabIcon__title {
    padding-block-end: 8px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

.tabIcon__title {
    inline-size: 100%;
    border-block-end: 1px solid #d4d4d4;
}

.tabIcon__imgLink,
.tabIcon__img {
    inline-size: 100%;
    max-inline-size: 252px;
}

.tabIcon__text {
    margin-block-start: 16px;
    inline-size: 100%;
    max-inline-size: 300px;
    color: #222;
    font-size: 18px;
}

.tabIcon__text_complect {
    max-inline-size: 252px;
}

.tabIcon__signature {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
    text-align: center;
}

.word-100 {
    flex: 1 1 100%;
    text-align: center;
}

.word-5 {
    flex: 1 1 50%;
}

.word-3 {
    flex: 1 1 33%;
}

.tabIcon__imgLink_srink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
}

.tabIcon__imgLink_srink .tabIcon__img {
    inline-size: 75%;
}


/* .turnikets-video .video-block {
    margin-top: 0px!important;
} */

@media (min-width: 512px) {
    .tabIcon_upravlenie .tabIcon__title {
        block-size: 40px;
    }
}

@media (max-width: 1200px) {
    .tabIcon {
        flex: 0 1 47%;
        align-items: center;
    }
}

@media (max-width: 460px) {
    .tabIcon {
        flex: 0 1 100%;
    }
}