body #container { max-width: none; }
h1, h2 {
	color: #214288;
	margin: 10px 0;
}
.h2 { text-align: center; }
.banner_image {
	background-image: url(/images/banners/banner_support.jpg);
	height: 435px;
}
#support_list {
	margin-bottom: 30px;
	margin-top: 10px;
}
html:lang(ru) #elements_list > div:nth-child(3) { display:none; }
#price {
	background-image: url("/images/banners/support_footer.jpg");
	display: flex;
	margin-top: 50px;
	height: 181px;
}
html:not(:lang(ru)) #price {
	background-image: url("/images/banners/zip_footer.jpg");
	height: 338px;
}
.price_text {
	margin: auto;
	margin-left: 50%;
	padding-top: 30px;
	width: 55%;
}
.price_text a {
	display: block;
	font-size: 17px;
	font-weight: bold;
	margin-top: 30px;
}
.price_text .icon  {
	display: flex;
	width: auto;
	height: auto;
}
.price_text .icon  img {
	flex-shrink: 0;
	width: 31px;
	height: 31px;
}
.price_text .icon_text {
	align-self: center;
	margin-left: 10px;
}
#status_dso {
	padding: 15px 40px;
    background: #E6E7E8;
    text-align: center;
    max-width: 500px;
    margin: 0 auto !important;
}
#status_dso > p { font-weight: bold; }
#status_dso input { text-align: center; }
#status_dso input[type=submit] {
	margin-left: 20px;
	margin-top: 10px;
	width: 135px;
}
#form_back {
	margin-bottom: 20px;
	text-align: center;
}
#form_result {
	border: 1px solid #003C8E;
	margin-top: 10px;
	padding: 20px 0;
	position: relative;
	text-align: center;
}
#form_result::before, #form_result::after {
	content: "";
	position: absolute;
	left: 50%;
	top: -16px;
	border: 8px solid transparent;
	border-bottom: 8px solid #003C8E;
}
#form_result::after {
	border-bottom: 8px solid white;
	top: -15px;
}
#form_result > div {
	border-bottom: 1px solid #BDBEC0;
	margin: 5px auto;
	padding: 5px 10px;
	text-align: left;
	width: 70%;
}
#form_result .result > div:nth-child(n+3) { background-color: #F3F5F4; }
#form_result .result > div:nth-child(n+3) div:last-child {
	color: #214288;
	font-weight: bold;
}
#form_result > .row:last-child { border-bottom: none; }
.row { display: flex; }
.row > div {
	flex-basis: 50%;
	margin: 5px;
}

.row > div:first-child { font-weight: bold; }
@media screen and (max-width: 1120px) {
	.banner_image {
		background-image: url(/images/banners/banner_support_mini.jpg);
		height: 310px;
	}
	#price { margin-top: 0; }
	.price_text { margin-left: 65%; }
	.price_text a { padding-top: 10px; }
}
@media screen and (max-width: 900px) {
	.banner_image { background-size: cover; }
	#price {
		background-image: url("/images/banners/support_footer_mini.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	html:not(:lang(ru)) #price { background-image: url("/images/banners/zip_footer_mini.jpg"); }
	.price_text { margin-left: 50%; }
	.price_text a {
		margin-top: 20px;
		padding-left: 18px;
	}
	#form_result > div {
		margin: 5px;
		width: auto;
	}
}
@media screen and (max-width: 720px) {
	.banner_image { height: 145px; }
	#price, html:not(:lang(ru)) #price {
		background: #F3F5F4;
		margin-top: 20px;
		height: auto;
		padding: 0;
	}
	html:not(:lang(ru)) #price { height: auto; }
	.price_text {
		margin: auto;
		padding-top: 0;
		width: auto;
	}
	.price_text a {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}