strong {
  color: rgb(207, 2, 35);
  text-transform: uppercase;
}

.catalog-section-list h2 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.visit {
  text-align: center;
}

.pw-demo-button {
  text-align: center;
  margin: 10px;
}


button.demo {
  color: #737680;
  font-size: 17px;
  font-weight: 600;
  width: 390px;
  height: 85px;
  text-decoration: none;
  user-select: none;
  background: #dfdfe0;
  outline: none;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  padding: 4px 90px 4px 20px;
  text-align: left;
  background-image: url(/css/../images/icons/pw-demo-icon.svg);
  background-repeat: no-repeat;
  background-position: 91% 50%;
  background-size: 17%;
  font-family: "FuturaPTWeb", sans-serif;
  margin-top: 0px;
}

button.demo span {
  color: #396096;
  font-size: 15px;
}

button.demo span.min {
  color: #737680;
  font-size: 15px;
  font-weight: 400;
}

button.demo:hover {
  cursor: pointer
}

button span.demo-icon {
  background-image: url(/css/../images/icons/pw-demo-icon.png);
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
}




/*таблица*/

div.col-table {
  /* cursor: pointer; */
  /* width: 100%; */
  /* height:500px; */
  overflow: hidden;
  overflow-x: auto;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  /* margin-top: -20px; */
  /* margin-bottom: -20px; */
}

div.col-table table {
  width: 100%;
  text-align: center;
  /* color: #214288; */
}


div.col-table table.col-table-i tr:first-child {
	color: #214288;
}

div.col-table table.col-table-i tr:first-child {
	background-color: #e9eaeb;
	font-weight: bold;
}

div.col-table table.col-table-i td:first-child {
	background-color: #e9eaeb;
	text-align: left;
	color: black;
	/* max-width: 110px; */
}

table.data-table {
  text-align: center;
}

table.data-table td:first-child {
  text-align: left;
}

table thead {
  background-color: #e9eaeb;
}

table.col-table-i tr:nth-child(2n+1) {
  background-color: #f7f7f7;
}

div.col-table table {
  margin-left: auto;
  margin-right: auto;
}


.info::before,
.info::after {
	content: "";
	position: absolute;
	top: -11px;
	left: calc(50% - 0px);
	border: 5px solid transparent;
	border-right: 5px solid #BCBEC0;
	transform: rotate(90deg);
}

.info::after {
	border-right: 5px solid white;
	top: -9px;
}

.info {
	background: white none repeat scroll 0 0;
	border: 1px solid #BCBEC0;
	border-bottom: 2px solid #bcbec0;
	color: black;
	display: none;
	font-size: 13px;
	font-weight: normal;
	left: -163px;
	top: 21px;
	padding: 5px 15px;
	position: absolute;
	text-align: left;
	width: 200px;
	z-index: 1000;
}

.inf_img {
	display: inline;
	margin-left: 5px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.inf_img img {
	width: 15px;
	height: 15px;
}

.on {
	display: block;
}
/*таблица*/

div.col-table table p {
  display: inline-block;
}
#horizontal_scroll {
  margin: auto;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

#container #horizontal_scroll ul {
  padding-left: 0;
  display: flex;
}

#container #horizontal_scroll ul li {
  list-style: none;
  margin: auto;
  text-align: center;
  padding-left: 0;
  margin-top: 0;
}

#horizontal_scroll .lSAction>a {
  background-repeat: no-repeat;
  background-position: 10px 0px;
  height: 45px;
  width: 30px;
}

#horizontal_scroll .lSAction>.lSPrev,
#horizontal_scroll .lSAction>.lSNext {
  background-image: url("/images/icons/arrow.svg");
}

#horizontal_scroll .lSAction>.lSPrev,
#horizontal_scroll .lSAction>.lSNext {
  background-position: 10px 0;
}

#horizontal_scroll .lSAction>.lSPrev {
  transform: rotate(180deg);
}

#secel_list {
  display: none;
}


.text-scroll-gallery {
  text-align: left;
  padding: 0 5%;

}

p.lead {
  font-size: 20px;
}

#horizontal_scroll h3 {
  text-align: left;
  margin-left: 5%;
}

#horizontal_scroll img {
  border: 1px solid #cecece;
}

div.text_items {
  width: 100%;
}
#container .catalog-section-list ul li:before{
	background-image: url('/images/icons/download-soft.svg') !important;
    height: 24px;
    width: 20px;
    margin-right: 10px;
    background-size: 20px;
    top: 4px;
    position: relative;
}
@media screen and (max-width: 900px) {
	#horizontal_scroll li img {
		max-width: 600px;
		width: 100%;
	}

}