.imagesSupport {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.item { position: relative; }
.item > img { display: block; }
.podpis_t {
	background-color: #fff;
	bottom: 0;
	color: #333;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	height: 35px;
	justify-content: center;
	opacity: 0.7;
	padding-left: 15px;
	position: absolute;
	width: calc(100% - 15px);
}