#vkladka_content > div:first-child {
	flex-direction: row;
	justify-content: space-between;
}
#vkladka_content > div:not(:first-child) { flex-direction: column; }
.company_item {
	border-bottom: 2px solid #BCBEC0;
	display: flex;
	padding: 20px 0;
}
.company_name { flex-basis: 400px; }
.name {
	font-weight: bold;
	font-size: 18px;
}
.city { color: #929497; }
.contacts {
	flex-basis: 300px;
	flex-grow: 1;
	margin-right: 15px;
}
.contacts > div, #clear_filter { display: flex; }
.contacts > div > div:first-child {
	color: #929497;
	margin-right: 15px;
	text-align: end;
	width: 70px;
}
.dop_info {
	display: flex;
	flex-basis: 500px;
}
.dop_info > div, .name_status { cursor: pointer; }
.dop_info img {
	width: 38px;
	height: 37px;
	margin-right: 42px;
}
.name_status img {
	width: 51px;
	height: 50px;
	margin-right: 15px;
}
body #content label:before { left: 0; }
@media screen and (max-width: 900px) {
	#content .tabs > input:checked + label + div { max-height: 100%; }
	#companies .company_item:last-child { border-bottom: none; }
}