body #container { max-width: none; }
.banner_image {
	background-image: url(/images/banners/banner_video.jpg);
	height: 435px;
}
@media screen and (max-width: 1120px) {
	.banner_image {
		background-image: url(/images/banners/banner_video_mini.jpg);
		height: 310px;
	}
}
@media screen and (max-width: 720px) {
	.banner_image {
		background-size: cover;
		height: 145px;
	}
}