/.gitignore
/.htaccess
/*.htaccess
/.htaccess*
/urlrewrite.php
/web.config
/*web.config
/*.log
/*.sql
# исключаем из репозитория текстовые файлы, но оставляем robots.txt
/*.txt
!/robots.txt
/sitemap*.xml
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old
/*~
*/_*
/_*
/composer.* 

 
# Мои исключения 
*.md
*.zip
*.rar
*.pdf
*.mp4
*.gz
*.jpg
*.png
*.log
*.config
*.xml
*.ico
ignore/
.ignore/
.vscode/
managed_cache/
cgi-bin/
awstats/
sxd/
sxv/
upload/
dev/
pma/
upload/
verstka/
landing-barrier-tests/

# исключаем ВСЮ папку bitrix, но ниже настроим включение нужных папок
# или используйте папку /local, чтобы полностью исключить папку bitrix
bitrix/* 
# включаем папку components, но исключаем components/bitrix - зачем?
!/bitrix/components
/bitrix/components/bitrix/
# включаем папку php_interface и исключаем файл dbconn.php
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/*.bak
# включаем папку шаблонов
!/bitrix/templates/

# файлы игнорируемые на localhost
images/
# файлы игнорируемые на localhost en-версии файлов
info_dso/

results-session.json
podderzhka/ostatki/files/ostatki.xls
