#main_block {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    min-width: 360px;
}

#main_block>div:first-child {
    margin-top: 50px;
}

h1 {
    font-size: 18px !important;
}

.price_rub {
    color: #214288;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}

.free {
    color: green;
    font-weight: bold;
}

#first_info {
    display: flex;
}

#main_image {
    text-align: center;
    flex-basis: 60%;
    flex-shrink: 0;
}

#main_image>.shema_video img {
    width: 50px;
    height: 50px;
}

#pruduct_name {
    text-align: left;
}

#container #list_img ul {
    display: flex;
    padding: 0;
}

#list_img {
    margin: auto;
}

#list_img .lSPager {
    flex-wrap: wrap;
    justify-content: center;
    transform: none !important;
    width: auto !important;
}

#list_img .lSPager li {
    align-self: center;
    border: 1px solid #BDBEC0;
    margin: 5px 0;
}

#list_img .lSPager .active {
    opacity: 0.4;
}

#container #list_img ul li {
    list-style: none;
    padding: 0;
}

#main_image_list li {
    cursor: pointer;
}

.shema_video {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.shema_video>div {
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.shema_video>div:not(:last-child) {
    margin-right: 10px;
}

.shema_video a {
    color: black;
    text-decoration: none;
}

.shema_video img {
    width: 50px;
    height: 50px;
}

#product_info {
    flex-basis: 100%;
}

.banner_perco-web {
    text-align: center
}

.banner_perco-web img {
    max-width: 100%;
    width: 650px;
    margin-top: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#pictogram {
    border-top: 1px solid #BDBEC0;
    padding-top: 15px;
}

#pictogram,
#pictogram_items {
    margin-top: 20px;
}

#pictogram_items {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
}

.pictogram_item {
    flex-basis: 80px;
    margin-right: 7px;
    margin-bottom: 20px;
    max-width: 80px;
}

.pictogram_item img {
    width: 70px;
    height: 55px;
}

#lg-download {
    display: block !important;
    ;
}

.review div {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    text-decoration: none;
}

.review div .iconReview {
    position: absolute;
    width: 43px;
    /*right: 92px;
	top: 40px;*/
    right: 88px;
    top: 36px;
}

.review div p {
    font-size: 12px;
    color: #000;
}

.preview_text>.download_item {
    margin-top: 20px;
}

.preview_text>.img_items {
    justify-content: center;
    max-width: 100%;
}

.preview_text>.img_items>* {
    margin: 10px;
}

.tabs>input:checked+label+div {
    display: flex;
}

#teh_info+label+div,
#download_info+label+div {
    flex-direction: column;
}

.tabs>div>.img_items {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 40%;
    flex-shrink: 1;
    justify-content: flex-start;
    align-content: flex-end;
    flex-direction: column;
}

.text_items {
    flex-shrink: 3;
}

.tabs>div:nth-child(-n+2) {
    flex-direction: row;
}

.img_items>a {
    margin-right: 10px;
}

.img_item {
    width: 155px;
    margin-bottom: 10px;
    margin-left: 16px;
}

#content {
    margin-top: 40px;
}

#content .frame {
    min-height: 130px;
    background-image: url("/images/other/frame_152.svg");
}

#price,
.pictogram_item p {
    font-size: 12px;
}

.teh_item {
    border-bottom: 1px solid #bdbec0;
    display: flex;
    font-size: 12px;
    padding: 5px 0;
}

.teh_name {
    margin-right: 10px;
    width: 40%;
}

.download_item>div:last-child {
    flex-grow: 1;
}

.color_block {
    margin-top: 40px;
}

.color_block .color {
    margin-bottom: 20px;
}

.ispolnenie {
    margin-top: 40px;
}

.ispolnenie+.color_block {
    margin-top: 0;
}

.newcolor {
    display: flex;
}

.text_detail {
    width: 160px;
}

.clr_new {
    display: flex;
    flex-direction: column;
}

.imgbox {
    width: 250px;
    height: 36px;
}

iframe {
    max-height: 100vh;
}

iframe.lg-object {
    box-shadow: none !important;
}

.lg-object.lg-image {
    background: white;
}

@media screen and (max-width: 1000px) {
    #main_image {
        margin-right: 10px;
    }
    #main_image img {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    body #container #main_block {
        margin-left: 0;
        margin-right: 0;
    }
    #main_block>div:first-child {
        margin-top: 0;
    }
    #first_info {
        flex-direction: column;
    }
    #product_info h1 {
        margin: 5px 0;
    }
    #main_image {
        flex-basis: auto;
    }
    #main_image img {
        width: 340px;
    }
    .pictogram_item {
        margin-right: 5px;
    }
    .tabs>input:checked+label+div {
        flex-direction: column;
    }
    .tabs>div>.img_items {
        justify-content: flex-start;
    }
    .img_items>.img_item {
        width: 152px;
        margin-left: 3px;
    }
    .pictogram_item img {
        width: 60px;
        height: 47px;
    }
}

@media (min-width: 1200px) {
    /*#container #list_img ul li {
		max-width: 83px;
	}
	#container #list_img ul:first-child {
		padding-bottom: 81.8356%!important;
	}
	#container #list_img ul:first-child li {
		max-width: initial;
	}*/
}