.turnikets-video .video-block{
	margin: 30px 0;
}

.video-block{
	display: flex; 
	flex-wrap: wrap;
}

.iframe {
	width: 50%;
	position: relative;
	height: 0;
	padding-bottom: 28.1%;;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
	max-width: 100%;
}

.description{
	flex: 2 2 300px;
	margin-left: 30px;
}

.description h2 {
	margin-block-start: 0;
	line-height: 28px;
}

@media screen and (max-width: 780px) {
	.iframe {
		width: 100%;
		padding-bottom: 56.2%;;
	}
}