.news_item {
	border-bottom: 2px solid #BCBEC0;
	margin-bottom: 25px;
	display: flex;
	font-size: 14px;
}

.news_item>a {
	display: flex;
	text-decoration: none;
	width: 100%;
}

.image_preview {
	flex-shrink: 0;
}

.image_preview>img {
	margin-bottom: 30px;
}

.news_preview {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.news_preview>div {
	padding-left: 30px;
}

.name {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}

.text {
	flex-grow: 1;
	color: black;
	margin-top: 10px;
	margin-bottom: 5px;
}

.more {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.more>span:first-child {
	text-decoration: underline;
}

.more,
.date {
	align-self: flex-end;
	padding: 5px;
}

.date {
	color: #929497;
	float: right;
	font-weight: normal;
}


.arrow svg {
	margin-left: 5px;
	width: 5px;
	height: 8px;
	
}

.arrow polygon {
	fill: #214288;
}

@media screen and (max-width: 900px) {
	.filter {
		margin-bottom: 20px;
	}

	.filsub {
		flex-direction: column;
	}

	#subscribe {
		margin-left: 0;
		margin-top: 20px;
		height: auto;
	}

	#subscribe>div {
		width: auto;
	}

	.news_preview>div {
		padding-left: 0;
	}

	.news_item {
		padding-bottom: 25px;
	}

	.news_item>a {
		align-items: center;
		flex-direction: column;
	}

	.image_preview {
		order: 1;
	}

	.image_preview>img {
		margin-bottom: 0;
	}

	.date {
		align-self: flex-start;
	}

	.more {
		padding: 0 0 5px 0;
	}
}

@media screen and (max-width: 720px) {
	.name {
		font-size: 16px;
	}
}