.dop_menu > ul {
	display: flex;
	margin: 0;
	padding: 0 !important;
}
#horizontal-dop-menu > li {
	display: flex;
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
#horizontal-dop-menu li a {
	color: black;
	display: block;
	flex-grow: 1;
	padding: 16px;
}

/*Root items: hover*/
#horizontal-dop-menu li:hover a { background: #F1F2F2; }
#horizontal-dop-menu li.item-selected { background: #F1F2F2; }
@media screen and (max-width: 900px) {
	#horizontal-dop-menu { flex-wrap: wrap; }
	#horizontal-dop-menu > li { flex-basis: 30%; }
	#horizontal-dop-menu li a { padding: 10px; }
}
@media screen and (max-width: 720px) {
	#horizontal-dop-menu li a { font-size: 11px; }
}