.video {
	display: grid;
	grid: repeat(3, auto) / 100%;
	justify-items: center;
	margin-top: 32px;
	width: 100%;
}

.video * {
	box-sizing: border-box;
}

.video .main-video {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 768px;
	width: 100%;
}

.video .main-video iframe {
	width: 100%;
	height: 100%;
}

.video .text {
	margin-top: 16px;
	font-size: 14px;
}

.video .text h1 {
	margin: 0;
	margin-bottom: 4px;
	font-size: 24px;
	color: #214289;
	width: 100%;
}

.video .text .download {
	margin-top: 4px;
	float: right;
	font-size: 16px;
}

.video .video-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 16px;
	width: 100%;
}

.video .video-list .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px 16px;
	width: 228px;
	max-width: 44%;
}

.video .video-list .item:active {
	background: rgba(128, 128, 128, .1);
}

.video .video-list .item img {
	width: 100%;
}

.video .video-list h3 {
	margin-top: 4px;
	font-size: 16px;
	color: black;
}