#leftBlock div.jcarousel-skin-tango {
	margin:8px 0 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 272px;
    height: 187px;
    padding-top:30px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  272px;
    height: 187px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 272px;
    height: 187px;
}

.jcarousel-skin-tango ul li {
		float:left;
		clear:left;
		margin:0;
		padding:0;
}
.jcarousel-skin-tango .jcarousel-item img {
	border:none;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
         background: transparent url(loading-small.gif) 50% 50% no-repeat;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 255px;
    height: 24px;
    cursor: pointer;
    border: 1px solid #D0D9E7;
    z-index:1000;
    background: url(next.jpg) right  no-repeat #E0E6F4;
	padding-left:15px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	padding-top:6px;
	color:#333333;
}



.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 255px;
    height: 24px;
    cursor: pointer;
	z-index:1000;
    border: 1px solid #D0D9E7;
    background: url(prev.jpg) no-repeat #E0E6F4 right;
	background-position:right;
	padding-left:15px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	padding-top:6px;
	color:#333333;
}

.podpis_t {
	margin-top: -35px;
	padding-left: 15px;
	height:35px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFF;
	opacity: 0.7;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	text-align: left;
}
.podpis_stat {
	margin-top:-40px;
	padding-left:15px;
	height:35px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#FFF;
	opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	text-align:left;
}
#leftCon div#mycarousel .jcarousel-item-placeholder {
    background: transparent url(loading-small.gif) 50% 50% no-repeat;
}
#leftCon .jcarousel-skin-tango{
	margin:0;
}
#leftCon .jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
#leftCon .jcarousel-skin-tango .jcarousel-container-vertical {
    width: 272px;
    height: 187px;
	padding-top:30px;
}
#leftCon .jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  272px;
    height: 187px;
}
#leftCon .jcarousel-skin-tango .jcarousel-item {
    width: 272px;
    height: 187px;
}
#leftCon .jcarousel-skin-tango ul li {
    height: 187px;
    list-style: none outside none;
    margin: 0;
    position: relative;
    width: 272px;
	padding: 0 0 3px;
}
#leftCon .jcarousel-skin-tango .jcarousel-item img {
	border:none;
	width: 272px;
	height: 187px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#leftCon .jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
/**
 *  Vertical Buttons для Школы
 */
#leftCon .jcarousel-skin-tango .jcarousel-next-vertical {
    background: url("pre_photo.jpg") no-repeat scroll 0 0 transparent;
    color: #666666;
    font-weight: bold;
    height: 23px;
    margin: 0 0 -8px;
    padding: 7px 0 10px 7px;
    text-transform: uppercase;
    width: 265px;
	border:none;	
	font-size:11px;	
}
#leftCon .jcarousel-skin-tango .jcarousel-prev-vertical {
    background: url("next_photo.jpg") no-repeat scroll 0 0 transparent;
    height: 23px;
    width: 265px;	
	text-transform:uppercase;
	font-weight:bold;
	color:#666666;
    padding: 7px 0 3px 7px;	
	margin:0;
	border:none;
	font-size:11px;
}
#leftCon .podpis_t {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 34px;
    left: 0;
    margin: 0;
    opacity: 0.7;
    padding: 0 0 0 10px;
    position: absolute;
    top: 153px;
    width: 262px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);	
}

/* Основные стили для школы */

#vertCar{
	width: 647px;
	height:246px;
}

#vertCar .jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
#vertCar .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 621px;
    height: 206px;
}
#vertCar .jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}


#vertCar .jcarousel-skin-tango .jcarousel-item {
    height: 206px;
    width: 207px;
}

#vertCar .jcarousel-skin-tango ul li {
		float:left;
		clear:none;
		margin:0;
		padding:0;
}
#vertCar .jcarousel-skin-tango .jcarousel-item img {
	border:none;
}


#vertCar .jcarousel-skin-tango .jcarousel-item-placeholder {
         background: transparent url(loading-small.gif) 50% 50% no-repeat;
}
#vertCar .jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 20px 25px;
    width: 621px;
}
/**
 *  Horizontal Buttons для школы
 */
 
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 114px;
    right: 5px;
    width: 16px;
    height: 20px;
    cursor: pointer;
    background: transparent url(next-button.jpg) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 114px;
    left: 5px;
	width: 16px;
    height: 20px;
    cursor: pointer;
    background: transparent url(prev-button.jpg) no-repeat 0 0;
}

/* Стили для галереи */


#mycarouselGal{
/*	margin: 0 0 0 30px;*/
}

#mycarouselGal .jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
#mycarouselGal .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 635px;
    height: 434px;
}
#mycarouselGal .jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}


#mycarouselGal .jcarousel-skin-tango .jcarousel-item {
    width: 635px;
    height: 434px;
}

#mycarouselGal .jcarousel-skin-tango ul li {
		float:left;
		clear:none;
		margin:0;
		padding:0;
}
#mycarouselGal .jcarousel-skin-tango .jcarousel-item img {
	border:none;
}

#mycarouselGal .jcarousel-skin-tango .jcarousel-item-placeholder {
         background: transparent url(loading-small.gif) 50% 50% no-repeat;
}
#mycarouselGal .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 635px;
}
 
#mycarouselGal .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 114px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}
#mycarouselGal .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 114px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

/* Стили для галереи Сайта "Школа" */
#schoolsystemgal div#mycarouselGal .jcarousel-skin-tango .jcarousel-clip-horizontal, #schoolsystemgal div#mycarouselGal .jcarousel-skin-tango .jcarousel-item {
    width:  960px;
    height: 590px;
}
#schoolsystemgal div#mycarouselGal .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 960px;
}