#section_list_main {
	display: flex;
	flex-wrap: wrap;
}
.section_element {
	display: flex;
	flex-basis: 130px;
	font-size: 16px;
	margin-bottom: 10px;
}
html:not(:lang(ru)) .section_element { flex-basis: auto; }
@media screen and (max-width: 1120px) {
	.section_element { flex-basis: 150px; }
}
.section_element:not(:last-child) { margin-right: 17px; }
.section_element a { width: 100%; }
.section_element div { text-align: center; }
.section_element img {
	/*width: 55px;
	height: 68px;*/
	height: 55px;
}
.section_element p { 
	text-align: center;
	line-height: 1.2em; 
}
@media screen and (max-width: 900px) {
	.section_element {
		flex-basis: 85px;
		margin-bottom: 5px;
		text-align: center;
	}
	.section_element img { height: 60px; }
	.section_element:not(:last-child) { margin-right: 5px; }
	.section_element p {
		font-size: 11px;
		margin: auto;
	}
}
@media screen and (max-width: 720px) {
	#section_list_main  { justify-content: space-around; }
	.section_element, html:not(:lang(ru)) .section_element { flex-basis: 80px; }
}